* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********** LAYOUT CLASSES **********/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.top-section {
  height: calc(100vh - 100px);
  background-color: rgba(8, 11, 18, 255);
  display: flex;
}

.bottom-section {
  height: 100px;
  background-color: rgba(40, 40, 40, 255);
  position: fixed;
  width: 100vw;
}

.sidebar {
  width: 230px;
  background-color: rgba(0, 0, 0, 255);
  padding: 15px 15px 5px 15px;
  color: rgba(130, 130, 130, 255);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.main-content {
  width: calc(100vw - 230px);
  height: calc(100vh - 200px);
  background-color: rgba(20, 25, 34, 255);
  position: relative;
  top: 100px;
  overflow: auto;
}

header {
  position: fixed;
  left: 230px;
  top: 0;
  z-index: 1;
  background-color: rgba(8, 11, 18, 255);
  width: calc(100vw - 230px);
  height: 100px;
}

.bottom-row {
  display: flex;
  padding: 25px 10px;
  align-items: center;
  justify-content: space-between;
}

.bottom-col,
.bottom-col-middle {
  color: white;
  display: flex;
  align-items: center;
}

.bottom-col {
  min-width: 225px;
  flex-grow: 1;
}

.control-bar {
  display: flex;
  align-items: center;
}

.icons i:hover {
  color: white !important;
}

.bottom-col img {
  width: 50px;
}

.bottom-col .content span {
  font-size: small;
  color: rgba(130, 130, 130, 255);
}

ul {
  list-style-type: none;
}

.sidebar-i {
  width: 35px;
  filter: brightness(0.5);
}

.header-b {
  background-color: rgba(8, 11, 18, 255);
  color: white;
  border: 1px solid white;
  padding: 13px 40px;
  border-radius: 20px;
  float: inline-end;
  margin-top: 27px;
  margin-right: 5px;
  cursor: pointer;
}

.header-b:hover {
  padding: 16px 45px;
}

.nav-hr {
  width: 198px;
  margin: 10px 0px;
  background-color: rgba(130, 130, 130, 255);
  height: 1px;
  border: 0;
}

.profile-icon {
  width: 25px;
  height: 25px;
  background-color: rgba(128, 128, 128, 255);
  border-radius: 50%;
}

.download-icon {
  width: 16px;
}

.sidebar-li-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(128, 128, 128, 255);
}

.sidebar-li-container-middle {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(128, 128, 128, 255);
}

.sidebar,
.main-nav-list,
a:hover {
  color: white;
}

.sidebar-li-container:hover img {
  filter: unset;
}

.sidebar-content-start li:nth-child(1) .sidebar-li-container::before {
  content: "";
  display: block;
  width: 4px;
  height: 35px;
  background-color: #a2ef2c;
  position: absolute;
  top: 92px;
  left: 0px;
}

.main-nav-list li:nth-child(1) .sidebar-li-container::before {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: #a2ef2c;
  position: relative;
  top: 13px;
  left: 70px;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recently-played,
.For-John-Doe,
.Popular-Artists {
  margin-top: 60px;
  padding-left: 30px;
}

.For-John-Doe h2 {
  margin-bottom: 10px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
}

.cards-title h2 {
  font-size: 29px;
  color: white;
}

.card-text h3 {
  color: white;
  padding: 10px 0px;
}

.card-text,
.cards-title,
p {
  font-size: small;
  color: rgba(128, 128, 128, 255);
}

.song-cards {
  max-width: 190px;
  width: 100%;
  position: relative;
}

.song-cards img {
  width: 100%;
}

.song-cards img:hover {
  filter: brightness(0.5);
}

.bottom-col-middle {
  flex-direction: column;
  flex-grow: 2;
  margin: 0px 45px;
}

.time-bar::before {
  content: "0:25";
  display: block;
  font-size: 13px;
  position: absolute;
  top: -5px;
  left: -45px;
}

.time-bar::after {
  content: "4:35";
  display: block;
  font-size: 13px;
  position: absolute;
  top: -5px;
  right: -45px;
}

.volume-bar-controls {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.time-bar {
  width: 100%;
  margin-top: 15px;
  position: relative;
}

.time-bar-primary {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #707070;
  position: relative;
}

.time-bar-progress {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 30%;
  height: 100%;
  background-color: #eee;
  align-items: center;
}

.volume-bar {
  width: 40%;
}

.volume-bar-primary {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #707070;
  position: relative;
}

.volume-bar-progress {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 30%;
  height: 100%;
  background-color: #eee;
  align-items: center;
}

.time-bar-primary:hover .time-bar-progress {
  background-color: #00ff03;
}

.time-bar-primary:hover .time-bar-progress::after {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background-color: #fff;
  border-radius: 100%;
  margin-left: auto;
  transform: translateX(50%);
}

.volume-bar-primary:hover .volume-bar-progress {
  background-color: #00ff03;
}

.volume-bar-primary:hover .volume-bar-progress::after {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background-color: #fff;
  border-radius: 100%;
  margin-left: auto;
  transform: translateX(50%);
}

.sidebar-content-playlist-names {
  height: 266px;
  overflow-y: auto;
}

/********** UTILITY CLASSES **********/

.padding-l15-px {
  padding-left: 15px;
}

.padding-r15-px {
  padding-right: 15px;
}

.padding-r10-px {
  padding-right: 10px;
}

.padding-l10-px {
  padding-left: 10px;
}

.padding-b15-px {
  padding-bottom: 15px;
}

.padding-l40-px {
  padding-left: 40px;
}

.padding-t30-px {
  padding-top: 30px;
}

.padding-t20-px {
  padding-top: 20px;
}

.padding-l20-px {
  padding-left: 20px;
}

.padding-r20-px {
  padding-right: 20px;
}

.padding-t15-px {
  padding-top: 15px;
}

.padding-r30-px {
  padding-right: 30px;
}

.padding-r35-px {
  padding-right: 35px;
}

.padding-r40-px {
  padding-right: 40px;
}

.display-in-block {
  display: inline-block;
}

.white {
  color: white;
}

.f-size-25-px {
  font-size: 25px;
}

.f-size-20-px {
  font-size: 20px;
}

.f-size-30-px {
  font-size: 30px;
}

.f-size-50-px {
  font-size: 50px;
}

.f-size-70-px {
  font-size: 70px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.hide {
  position: absolute;
  bottom: 55%;
  right: 30%;
  color: white;
  display: none;
}

.hide-middle {
  position: absolute;
  bottom: 45%;
  right: 30%;
  color: white;
  display: none;
}

.hide-bottom {
  position: absolute;
  bottom: 44%;
  right: 30%;
  color: white;
  display: none;
}

.song-cards:hover .hide,
.song-cards:hover .hide-middle,
.song-cards:hover .hide-bottom {
  display: block;
}

.sidebar-content-start img:nth-child(2) {
  display: none;
}

@media (max-width: 1024px) {
  .cards-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 654px) {
  .sidebar {
    width: 50px;
    background-color: rgba(0, 0, 0, 255);
    padding: 15px 15px 10px 10px;
    color: rgba(130, 130, 130, 255);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .main-content {
    width: calc(100vw - 50px);
    height: calc(100vh - 200px);
    background-color: rgba(20, 25, 34, 255);
    position: relative;
    top: 100px;
    overflow: auto;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }

  .sidebar-content-start #logo {
    display: none;
  }

  .sidebar-content-start #small-logo {
    display: block;
    width: 30px;
  }

  .sidebar-content-start li:nth-child(1) .sidebar-li-container::before {
    display: none;
  }

  .sidebar-content-start span {
    display: none;
  }

  .sidebar-content-start h4 {
    display: none;
  }

  .sidebar-content-playlist {
    display: none;
  }

  .sidebar-content-playlist-names {
    display: none;
  }

  .sidebar-i {
    width: 30px;
  }

  .nav-hr {
    display: none;
  }

  .sidebar-content-end span,
  p {
    display: none;
  }

  .download-icon {
    width: 20px;
    padding-bottom: 10px;
  }
}
